<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
      <img src="/images/campfire_white_bg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      YelpCamp
    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- Left-aligned links -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">All Campgrounds</a>
                </li>
                  <% if(currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
                </li>
                <%}%>
                
            </ul>
            <!-- Right-aligned links -->
            <ul class="navbar-nav ms-auto">
                <% if(!currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <% }else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>